<%= render "shared/navbar" %>
<%= render "shared/sidebar" %>
<div class="lg:hidden ml-64 pt-32">
    <h1 class="text-2xl font-extrabold mx-5 animate-pulse text-TapCard-navy">please switch to a larger screen</h1>
</div>
<div class="lg:block hidden ml-64 pt-32 bg-gray-100 h-[100vh] ">
    <div class="flex justify-around items-start">
        <div class="flex flex-col items-center bg-white p-5 w-52 shadow-lg rounded-2xl">
            <%= image_tag("events_icon.svg", class: "w-10") %>
            <p class="font-light">Upcoming Events</p>
            <%# Mettre un count pour le nombre d'event inscrit futur %>
        </div>
        <div class="flex flex-col items-center bg-white p-5 w-52 shadow-lg rounded-2xl">
            <%= image_tag("attented-events_icon.svg", class: "w-10") %>
            <p class="font-light">Attended Events</p>
            <%# Mettre un count pour le nombre d'event passé %>

        </div>
        <div class="flex flex-col items-center bg-white p-5 w-52 shadow-lg rounded-2xl">

            <%= image_tag("contact-receiveds_icon.svg", class: "w-10") %>
            <p class="font-light">Employees on DigiCard</p>
        </div>
        <div class="flex flex-col items-center bg-white p-5 w-52 shadow-lg rounded-2xl">
            <%= image_tag("employees_dash_icon.svg", class: "w-10") %>
            <p class="font-light">Profils received</p>
        </div>
    </div>
    <div class="my-10 mx-12 p-5 bg-white rounded-md shadow-sm">
        <h1>Events History</h1>
        <table>
            <thead>
                <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Location</th>
                <th>Status</th>
                <th></th> <!-- Colonne vide -->
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>
</div>