<div class="flex w-full justify-between font-jost font-semibold items-center py-8 pl-3 bg-TapCard-teal">
    <%= link_to profil_user_path(current_user) do %>
            <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-5" %>
    <% end %>
    <div class="flex-1 text-center mr-3">
        <h2 class="mx-auto text-TapCard-lightGray uppercase">Your entreprise</h2>
    </div>
    <div class="w-5"></div>
</div>
<div class="flex justify-around items-start">
    <div class="my-4">
        <%= simple_form_for(@entreprise, url: entreprise_path(@entreprise), method: :patch) do |f| %>
            <div data-flash-target="alert">
                <%= f.error_notification %>
            </div>
            <div class=" pt-2 flex flex-col justify-center items-center relative">
                <% if @entreprise.logo.attached? %>
                    <%= cl_image_tag @entreprise.logo.key, alt: "Logo entreprise #{@entreprise.name}", class: "rounded-full object-cover object-center w-28 h-28 shadow-md", id: "user-avatar" %>
                <% else %>
                    <%= image_tag("bag-entreprise.svg", class: "rounded-full w-28 h-28 object-cover object-center shadow-md", alt: "Logo par défaut", id: "user-avatar") %>
                <% end %>
                <label for="<%= f.object_name %>_logo" class="cursor-pointer w-8 h-8 bg-TapCard-teal rounded-full relative bottom-7 left-10 flex items-center justify-center">
                    <%= image_tag("pen-solid.svg", class: "h-4 fill-TapCard-yellow") %>
                    <%= f.input :logo, as: :file, label: false, wrapper: false, input_html: { class: "hidden", data: { controller: "preview-image", action: "change->preview-image#previewImage" } } %>
                </label>
                <div id="image-preview-container"></div>
            </div>
            <div>
                <% if @entreprise.banner.attached? %>
                    <%= cl_image_tag @entreprise.banner.key, alt: "banner entreprise #{@entreprise.name}", class: "rounded-full object-cover object-center w-28 h-28 shadow-md", id: "banner" %>
                <% else %>
                    <%= image_tag("bag-entreprise.svg", class: "rounded-full w-28 h-28 object-cover object-center shadow-md", alt: "Logo par défaut", id: "banner") %>
                <% end %>
                <label for="<%= f.object_name %>_banner" class="cursor-pointer w-8 h-8 bg-TapCard-teal rounded-full relative bottom-7 left-10 flex items-center justify-center">
                    <%= image_tag("pen-solid.svg", class: "h-4 fill-TapCard-yellow") %>
                    <%= f.input :banner, as: :file, label: false, wrapper: false, input_html: { class: "hidden", data: { controller: "preview-image", action: "change->preview-image#previewBanner" } } %>
                </label>
                <div id="image-preview-banner"></div>
            </div>
            <div class="form-inputs">
                <%= f.input :email, 
                            required: true,
                            input_html: { autocomplete: "email", class: "rounded w-[100%] mx-3" },
                            label: "Email",
                            label_html: { class: "block text-left mx-3 mt-1" } %>
                <%= f.input :website, 
                            required: false,
                            input_html: { autocomplete: "website", class: "rounded w-[100%] mx-3" },
                            label: "Website",
                            label_html: { class: "block text-left mx-3 mt-1" } %>
                <%= f.input :linkedin, 
                            required: false,
                            input_html: { autocomplete: "linkedin", class: "rounded w-[100%] mx-3" },
                            label: "Linkedin",
                            label_html: { class: "block text-left mx-3 mt-1" } %>
                <%= f.input :facebook, 
                            required: false,
                            input_html: { autocomplete: "facebook", class: "rounded w-[100%] mx-3" },
                            label: "Facebook",
                            label_html: { class: "block text-left mx-3 mt-1" } %>
                <%= f.input :twitter, 
                            required: false,
                            input_html: { autocomplete: "twitter", class: "rounded w-[100%] mx-3" },
                            label: "X",
                            label_html: { class: "block text-left mx-3 mt-1" } %>
                <%= f.input :description, 
                            required: false,
                            input_html: { autocomplete: "description", rows: 10, class: "rounded w-[100%] mx-3" },
                            label: "description",
                            label_html: { class: "block text-left mx-3 mt-1" } %>
            </div>
            <div class="form-actions flex items-center justify-center">
                <%= f.button :submit, "Save", class: "my-6 py-1 px-5 bg-TapCard-blue rounded-full text-TapCard-lightGray cursor-pointer" %>
            </div>
        <% end %>
    </div>
    <div class="block">
        <div class="flex items-center justify-around mx-7 my-4">   
            <% if @entreprise.logo.attached? %>
                <%= cl_image_tag @entreprise.logo.key, alt: "Logo entreprise #{@entreprise.name}", class: "rounder object-cover object-center w-14 h-14" %>
            <% else %>
                <%= image_tag("bag-entreprise.svg", class: "rounder object-cover object-center w-14 h-14") %>
            <% end %>
            <div class="space-y-3 flex flex-col justify-center">
                <div class="flex items-center justify-center space-x-2">
                    <% if @entreprise.twitter.present? %>
                        <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                            <a href="https://<%= @entreprise.twitter %>" target="_blank"><i class="fa-brands fa-x-twitter text-white text-xs"></i></a>
                        </div>
                    <% end %>
                    <% if @entreprise.linkedin.present? %>
                        <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                            <a href="https://<%= @entreprise.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin text-white text-xs"></i></a>               
                        </div>
                    <% end %>
                    <% if @entreprise.facebook.present? %>
                        <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                            <a href="https://<%= @entreprise.facebook %>" target="_blank"><i class="fa-brands fa-facebook text-white text-xs"></i></a>                
                        </div>
                    <% end %>
                    <% if @entreprise.instagram.present? %>
                        <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                            <a href="https://<%= @entreprise.instagram %>" target="_blank"><i class="fa-brands fa-instagram text-white text-xs"></i></a>   
                        </div>
                    <% end %>
                </div>
                <div>
                    <% if @entreprise.website.present? %>
                        <div class="flex items-center space-x-2 text-xs justify-center">
                            <i class="fa-solid fa-globe text-TapCard-yellow"></i>            
                            <span class="text-[12px] font-light"><%= @entreprise.website %></span>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="m-4">
            <h1 class="text-center font-semibold font-jost"><%= @entreprise.name %></h1>
            <p>Sponsorship code: <%= @entreprise.parrainage_code %></p>
            <p class="text-xs font-light w-96"><%= @entreprise.description %></p>
        </div>
        <div class="my-8">
            <div class="my-3">
                <% if @entreprise.employee_relationships.present? %>
                    <h2 class="text-lg font-bold">My registered employees</h2>
                    <% @entreprise.employee_relationships.each do |employee| %>
                        <div class="flex items-center mt-2 space-x-2">
                            <% if employee.user.avatar.attached? %>
                                <%= cl_image_tag employee.user.avatar.key, alt: "Avatar to #{employee.user.first_name}", class: "rounded-full object-cover object-center w-10 h-10 border shadow-md" %>
                            <% else %>    
                                <%= image_tag("avatar.svg", class: "rounded-full w-10 h-10 bg-cover bg-center border shadow-md") %>
                            <% end %>
                            <p><%= employee.user.first_name %> <%= employee.user.last_name %></p>
                            <%= link_to 'Delete', entreprise_employee_path(@entreprise, employee), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet employé ?"}, class: "flex items-center justify-center my-3 px-3 py-1 text-xs rounded bg-red-600 text-white font-semibold shadow-md cursor-pointer" %>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="my-3">
                <% if @association_requests.present? %>
                    <h2 class="text-lg font-bold">New request.</h2>
                    <% @association_requests.each do |request| %>
                        <div class="flex items-center space-x-2 p-2">
                            <% if request.user.avatar.attached? %>
                                <%= cl_image_tag request.user.avatar.key, alt: "Avatar to #{request.user.first_name}", class: "rounded-full object-cover object-center w-10 h-10 border shadow-md" %>
                            <% else %>    
                                <%= image_tag("avatar.svg", class: "rounded-full w-10 h-10 bg-cover bg-center border shadow-md") %>
                            <% end %>
                            <h1><%= request.user.first_name %> <%= request.user.last_name %></h1>
                            <div class="flex space-x-2">
                                <%= simple_form_for request, url: approve_request_associations_request_path(request), method: :post do |f| %>
                                    <%= f.button :submit, "Approve", class: "flex items-center justify-center my-3 px-3 py-1 text-xs rounded bg-TapCard-blue text-TapCard-lightGray font-semibold shadow-md cursor-pointer" %>
                                <% end %>
                                <%= link_to 'Refuse', reject_request_associations_request_path(request), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "flex items-center justify-center my-3 px-3 py-1 text-xs rounded bg-red-600 text-white font-semibold shadow-md cursor-pointer" %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div>
                <h2 class="text-lg font-bold my-3">Scheduled event</h2>
                <% @entreprise.exhibitors.each do |exhibitor| %>
                    <div class="flex justify-around items-start border-b">
                        <div>
                            <% if @employee_options.any? || @entrepreneur_options.any? %>
                                <h1>Staff who can be represented</h1>
                                <%= simple_form_for :representative, url: add_representatives_entreprise_path(@entreprise), method: :post do |f| %>
                                    <%= f.input :exhibitor_id, as: :hidden, input_html: { value: exhibitor.id } %>
                                    <%= f.input :entreprise_id, as: :hidden, input_html: { value: exhibitor.entreprise.id } %>
                                    <% if @employee_options.any? %>
                                        <%= f.input :employee_ids, as: :check_boxes, collection: @employee_options, label_method: :first, value_method: :second, label: "", item_wrapper_class: "space-x-2", required: false %>
                                    <% end %>
                                    <% if @entrepreneur_options.any? %>
                                        <%= f.input :entrepreneur_ids, as: :check_boxes, collection: @entrepreneur_options, label_method: :first, value_method: :second, label: "", item_wrapper_class: "space-x-2", required: false %>
                                    <% end %>
                                    <%= f.button :submit, value="Add", class: "flex items-center justify-center my-3 px-3 py-1 text-sm rounded bg-green-600 text-white font-semibold shadow-md cursor-pointer" %>
                                <% end %>
                            <% end %>
                        </div>
                        <% if exhibitor.event.logo.attached? %>
                            <%= cl_image_tag exhibitor.event.logo.key, alt: "Logo to #{exhibitor.event.title}", class: " object-cover object-center w-14 h-14 shadow-md" %>
                        <% else %>    
                            <%= image_tag("logo_event.svg", class: " w-14 h-14 bg-cover bg-center") %>
                        <% end %>
                        <h1><%= exhibitor.event.title %></h1>
                        <div class="space-x-3 flex">
                            <% exhibitor.representatives.each do |representative| %>
                                <% employee = Employee.find_by(id: representative.employee_id) %>
                                <% entrepreneur = Entrepreneur.find_by(id: representative.entrepreneur_id) %>
                                <div class="flex flex-col justify-center items-center">
                                    <% if employee && employee.user.avatar.attached? %>
                                        <%= cl_image_tag employee.user.avatar.key, alt: "Avatar to #{employee.user.full_name}", class: "rounded-full object-cover object-center w-10 h-10 border shadow-md" %>
                                    <% else %>    
                                        <%= image_tag("avatar.svg", class: "rounded-full w-10 h-10 bg-cover bg-center border shadow-md") %>
                                    <% end %>
                                    <%= link_to "Delete", representative_path(representative), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "flex items-center justify-center my-3 px-3 py-1 text-xs rounded bg-red-600 text-white font-semibold shadow-md cursor-pointer" %>

                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>