<header class="w-full fixed">
    <div class="flex w-full justify-between items-center pt-8 pb-3 pr-3  bg-TapCard-charcoal">
      <%= link_to repertoire_user_path(current_user), class: "ml-2" do %>
              <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-5" %>
      <% end %>
      <div class="flex-1 text-center ml-2" data-controller="editable" data-action="click->editable#edit">
        <h2 class="mx-auto text-TapCard-lightGray uppercase font-semibold font-jost">
          <span data-editable-target="name"><%= @contact_group.name %></span>
          <div data-editable-target="form" class="hidden ">
            <%= simple_form_for(@contact_group, method: :put, html: { "data-controller": "editable", "data-action": "ajax:success->editable#updateName" }) do |f| %>
              <%= f.input :name,
                          label_html: { class: "hidden"},
                          input_html: { placeholder: @contact_group.name, value: "", class: "h-2 text-TapCard-lightGray text-center uppercase placeholder:text-gray-200 placeholder:uppercase placeholder:text-center bg-transparent border-none focus:ring-transparent caret-TapCard-yellow", "data-editable_target": "input", "data-action": "blur->editable#blur" },
                          autofocus: true %>
              <%= f.button :submit, class: "hidden" %>
            <% end %>
          </div>
        </h2>
      </div>
      <% if @contact_group.deletable == true %>
        <%= form_with(url: contact_group_path(@contact_group), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are your sure?" }) do %>
          <%= button_tag(type: 'submit') do %>
            <%= image_tag "trash-fill.svg", alt: "poubelle", class: "w-5" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to chatrooms_path(current_user) do %>
          <%= image_tag "envelope-regular.svg", alt: "envelope", class: "w-5" %>
        <% end %>
      <% end %>
    </div>
</header>
<div class=" pt-16"></div>
<%= form_with url: contact_group_path(@contact_group), method: :get, class: "flex justify-around items-center space-y-2 py-2 border-y" do %>
    <%= text_field_tag :search,
            params[:search],
            class: "form-control text-black font-light h-full mx-9 h-7 rounded border-none focus:ring-transparent caret-gray-400",
            placeholder: "Search Contacts"
        %>
        <div class="flex justify-center pt-1 pb-2 ">
            <%= button_tag(type: 'submit') do %> 
              <%= image_tag "search.svg", alt: 'search', class: "w-8" %>
            <% end %>
        </div>
<% end %>
<ul>
  <% @users.group_by { |user| user.created_at.beginning_of_month }.sort.each do |month, users| %>
    <h3 class=" bg-TapCard-lightGray px-4 border-b shadow-md text-sm font-light"><%= month.strftime("%B %Y") %></h3>
    <% users.sort_by(&:first_name).each do |user| %>
      <%= link_to repertoire_user_profile_user_path(user) do %>
        <li class="flex justify-between items-center p-4 border-b">
          <div>
            <p><%= user.first_name %> <%= user.last_name %></p>
          </div>
          <div>
            <% if user.avatar.attached? %>
              <%= cl_image_tag user.avatar.key, alt: "Avatar of #{user.first_name}", class: "rounded-full object-cover object-center w-12 h-12 border shadow-md" %>
            <% else %>
              <%= image_tag("avatar.svg", class: "rounded-full w-12 h-12 bg-cover bg-center border shadow-md") %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
