<% content_for :header do %>
  <%= render 'index_header', chatroom: @chatroom %>
<% end %>

<div class="pt-20 "></div>
<div class="w-full">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom), class: "block border-b" do %>
      <div class="flex items-center px-4 py-3">
        <div class="flex-shrink-0">
          <% if chatroom.other_user(current_user).avatar.attached? %>
            <%= cl_image_tag chatroom.other_user(current_user).avatar.key, alt: "Avatar of #{chatroom.other_user(current_user).first_name}", class: "rounded-full object-cover object-center w-16 h-16 border shadow-md" %>
          <% else %>    
            <%= image_tag("avatar.svg", alt: "Default avatar", class: "rounded-full w-16 h-16 border shadow-md") %>
          <% end %>
        </div>
        <div class="flex-grow ml-4 leading-6">
          <div class="flex justify-between">
            <h2 class="text-lg font-semibold text-TapCard-charcoal"><%= chatroom.other_user(current_user).full_name %></h2>
            <span class="text-sm text-gray-500"><%= chatroom.messages.last.created_at.strftime("%b %d") %></span>
          </div>
          <div class="text-sm ">
            <p class=" text-TapCard-charcoal"><%= truncate(chatroom.other_user(current_user).job, length: 22) %></p>
            <% last_message = chatroom.messages.last %>
            <p class=" text-TapCard-silver">
              <% if last_message.user == current_user %>
                <span>You: </span>
              <% else %>
                <span><%= last_message.user.first_name %>: </span>
              <% end %>
              <%= truncate(last_message.content, length: 30) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
