<% content_for :header do %>
  <%= render 'show_header', chatroom: @chatroom %>
<% end %>

<div class="px-4 pt-32">
    <div data-controller="chatroom-subscription"  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
        <div class=" overflow-y-scroll hide-scrollbar flex-1" data-chatroom-subscription-target="messages" >
            <% previous_date = nil %>
            <% @messages.each do |message| %>
                <% message_date = message.created_at.to_date %>
                <% if previous_date != message_date %>
                    <div class="date-separator text-center py-3">
                        <% if message_date == Date.today %>
                            <span>Today</span>
                        <% else %>
                            <span><%= l(message_date, format: :long) %></span>
                        <% end %>
                    </div>
                <% end %>
                <div class="mb-4 flex flex-col <%= message.sender?(current_user) ? 'items-end' : 'items-start' %>">
                    <div class="max-w-[70%] rounded-xl px-4 py-2 <%= message.sender?(current_user) ? 'bg-TapCard-teal text-TapCard-lightGray' : 'bg-TapCard-lightGray' %>" >
                    <%= render "messages/message", message: message %>
                    </div>
                </div>
                <% previous_date = message_date %>
            <% end %>
        </div>
    </div>
</div>
<div class="pb-24"></div>
<div class="fixed bottom-0 pb-16 w-full px-4 pt-1 bg-white">
    <%= simple_form_for [@chatroom, @message], html: {class: "flex items-center justify-center w-full", id: "new_message", "data-controller": "message-form", "data-message-form-target": "form" } do |f| %>
        <%= f.input :content,
            as: :text,
            label: false,
            input_html: { class: "h-10 w-full border-none rounded-lg bg-TapCard-lightGray resize-none", "data-action": "keydown->message-form#submitOnEnter", "data-message-form-target": "content" },
            placeholder: "Aa",
            wrapper_html: {class: "w-full"}
        %>
        <%= f.submit "Send", class: "mb-3 hidden" %>
    <% end %>
</div>

