<div class="w-full fixed">
    <div class="flex w-full justify-between items-center pt-8 pb-3 pr-3  bg-TapCard-charcoal">
        <div data-controller="overlay" class="ml-2">
            <button data-action="click->overlay#toggle" ><%= image_tag "plus-circle.svg", alt: "chevron", class: "w-5" %></button>
            <div data-overlay-target="overlay" class="hidden fixed top-0 inset-x-0 w-full h-full bg-rgba justify-center items-center text-white z-[9999]">
                <div data-overlay-target="modal" class="hidden mx-2 relative w-72 h-auto justify-center  p-4 text-center rounded-xl content-between">
                    <div class="flex justify-center items-center">
                        <%= simple_form_for @contact_group, url: user_repertoire_contact_groups_path(current_user), method: :post do |f| %>
                            <%= f.input :name,
                                        input_html: { value: "", class: "placeholder:text-slate-400 text-TapCard-charcoal text-xl text-center rounded-xl px-10 py-3", placeholder: "NAME OF GROUP" },
                                        label_html: { class: "hidden"},
                                        label: '' %>
                            <%= f.button :submit, '', class: "hidden" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 text-center ml-2">
            <h2 class="mx-auto text-TapCard-lightGray uppercase font-semibold font-jost">Groups</h2>
        </div>
        <%= link_to chatrooms_path(current_user) do %>
            <%= image_tag "envelope-regular.svg", alt: "envelope", class: "w-5" %>
        <% end %>
    </div>
    <div class="flex justify-around bg-white px-4 py-3">
        <%= link_to repertoire_user_path(current_user) do %>
            <h6 class="font-semibold font-jost relative after:block after:h-0.5 after:w-1/2 after:absolute after:-bottom-1 after:left-1/4 after:origin-bottom-left after:transform after:ease-in-out after:duration-200 after:bg-TapCard-yellow">My Cards</h6>
        <% end %>
        <%= link_to repertoire_user_path(current_user) do %>
            <h6 class="font-semibold font-jost">Entreprises</h6>
        <% end %>
    </div>
</div>
<div class=" pt-28"></div>
<%= form_with url: repertoire_user_path, method: :get, class: "flex justify-around items-center space-y-2 mt-2 py-2 border-t" do %>
    <%= text_field_tag :search,
            params[:search],
            class: "form-control text-black font-light h-full mx-9 h-7 rounded border-none",
            placeholder: "Search Contacts"
        %>
        <div class="flex justify-center pt-1 pb-2">
            <%= button_tag(type: 'submit') do %> 
                <%= image_tag "search.svg", alt: 'search', class: "w-8" %>
            <% end %>
        </div>
<% end %>
<% if @search_active %>
    <% if @users.any? %>
        <ul class="capitalize border-y px-6 py-4 text-lg">
            <% @users.each do |user| %>
                <%= link_to repertoire_user_profile_user_path(user) do %>
                    <li class="flex justify-between items-center">
                        <p><%= user.first_name %> <%= user.last_name %></p>
                        <div>
                            <% if user.avatar.attached? %>
                                <%= cl_image_tag user.avatar.key, alt: "Avatar to #{user.first_name}", class: "rounded-full object-cover object-center w-12 h-12 border shadow-md" %>
                            <% else %>    
                                <%= image_tag("avatar.svg", class: "rounded-full w-12 h-12 bg-cover bg-center border shadow-md") %>
                            <% end %>
                        </div> 
                    </li>
                <% end %>
            <% end %>
        </ul>
    <% else %>
        <p class="px-6">No users found.</p>
    <% end %>
<% else %>
    <ul class="capitalize text-lg">
        <% @contact_groups.each do |group| %>
            <%= link_to contact_group_path(group) do %>
                <li class="flex justify-between border-y px-6 py-4">
                    <p><%= group.name %></p>
                    <p class=" text-TapCard-silver"><%= group.users_contact_groups.count %></p>
                </li>
            <% end %>
        <% end %>    
    </ul>
<% end %>