<div class="w-full fixed">
    <div class="flex w-full justify-between items-center pt-8 pb-3 pr-3  bg-TapCard-charcoal">
    <%= link_to :back, class: "ml-2" do %>
            <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-5" %>
    <% end %>
    <div class="flex-1 text-center ml-2">
        <h2 class="mx-auto text-TapCard-lightGray uppercase font-semibold font-jost">Informations</h2>
    </div>
    <%= link_to user_path(current_user) do %>
        <%= image_tag "envelope-regular.svg", alt: "envelope", class: "w-5" %>
    <% end %>
    </div>
    <div class="flex justify-evenly bg-TapCard-lightGray border-b border-TapCard-blue px-4 py-3">
        <%= link_to exposant_event_path(@event) do %>
            <h6 class="text-xs font-semibold font-jost relative after:block after:h-0.5 after:w-1/2 after:absolute after:-bottom-1 after:left-1/4 after:origin-bottom-left after:transform after:ease-in-out after:duration-200 after:bg-TapCard-yellow">Les Exposants</h6>
        <% end %>
        <% if @visible_in_participants[@event.id] %>
            <%= link_to visitor_event_path(@event) do %>
                <h6 class="text-xs font-semibold font-jost">Visiteurs Pro</h6>
            <% end %>
        <% else %>
            <div data-controller="overlay" class="flex flex-col items-start justify-start">
                <button data-action="click->overlay#toggle" class="text-xs font-semibold font-jost">Visiteurs Pro</button>
                <div data-overlay-target="overlay" class="hidden fixed top-0 left-0 w-full h-full bg-rgba justify-center items-center text-white z-50">
                    <div data-overlay-target="modal" class="hidden mx-2 relative w-72 h-auto bg-TapCard-charcoal py-5 px-4 text-center rounded-xl content-between">
                        <div class="flex justify-between mb-3">
                            <div class="w-5"></div>
                            <div class="">
                                <i class="fa-solid fa-triangle-exclamation text-TapCard-yellow text-5xl animate-pulse"></i>
                            </div>
                            <button data-action="click->overlay#closeModal" class="flex justify-start">
                                <i class="fa-solid fa-xmark text-TapCard-yellow w-5"></i>
                            </button>
                        </div>
                        <div class="mb-3">
                            <p class="text-xs">Vous n'avez pas accès à la liste du salon <%= @event.title.capitalize %>.</p>
                        </div>
                        <%= simple_form_for(@participation, url: participation_path(@participation), method: :patch) do |f| %>
                            <%= f.hidden_field :event_id, value: @event.id %>
                            <div class="border-b border-TapCard-yellow w-[75%] mx-auto my-4"></div>
                            <label for="visible" class="flex items-start mb-5 ">
                                <%= f.input :visible_in_participants,
                                            as: :boolean,
                                            wrapper_html: { class: "" },
                                            input_html: { id: "visible", class: "w-3 h-3 mr-2 mb-3" },
                                            label_html: { class: "hidden"},
                                            inline_label: true %>
                                    <span class="text-left text-[12px] leading-3">J'accepte d’apparaitre dans la liste des personnes présentes à l’évènement. Si vous cochez cette case, vous aurez accès à la liste des personnes inscrites.</span>
                            </label>
                            <div class="form-actions">
                                <div class=" mx-6 bg-TapCard-yellow text-gray-100 font-medium rounded-md transition-all duration-150 ease-in-out hover:text-white hover:scale-105 sm:place-self-center uppercase">
                                    <%= f.button :submit,
                                            value: "Confirmer",
                                            class: "uppercase text-lg font-semibold font-jost",
                                            data: { action: "click->overlay#closeModal" } %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class=" pt-32"></div>
<div class="flex items-center justify-around mx-7 my-4">
    <% if @exhibitor.entreprise.logo.attached? %>
        <%= cl_image_tag @exhibitor.entreprise.logo.key, alt: "Logo entreprise #{@exhibitor.entreprise.name}", class: "rounder object-cover object-center w-14 h-14" %>
    <% else %>
        <%= image_tag("bag-entreprise.svg", class: "rounder object-cover object-center w-14 h-14") %>
    <% end %>
    <div class="space-y-3 flex flex-col justify-center">
        <div class="flex items-center justify-center space-x-2">
            <% if @exhibitor.entreprise.twitter.present? %>
                <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                    <a href="https://<%= @exhibitor.entreprise.twitter %>" target="_blank"><i class="fa-brands fa-x-twitter text-white text-xs"></i></a>
                </div>
            <% end %>
            <% if @exhibitor.entreprise.linkedin.present? %>
                <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                    <a href="https://<%= @exhibitor.entreprise.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin text-white text-xs"></i></a>               
                </div>
            <% end %>
            <% if @exhibitor.entreprise.facebook.present? %>
                <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                    <a href="https://<%= @exhibitor.entreprise.facebook %>" target="_blank"><i class="fa-brands fa-facebook text-white text-xs"></i></a>                
                </div>
            <% end %>
            <% if @exhibitor.entreprise.instagram.present? %>
                <div class="flex items-end justify-center bg-TapCard-yellow rounded-full w-5 h-5">
                    <a href="https://<%= @exhibitor.entreprise.instagram %>" target="_blank"><i class="fa-brands fa-instagram text-white text-xs"></i></a>   
                </div>
            <% end %>
        </div>
        <div>
            <% if @exhibitor.entreprise.website.present? %>
                <div class="flex items-center space-x-2 text-xs justify-center">
                    <i class="fa-solid fa-globe text-TapCard-yellow"></i>            
                    <span class="text-[12px] font-light"><%= @exhibitor.entreprise.website %></span>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class=" bg-TapCard-lightGray">
    <h4 class="text-center py-2 text-sm">Ils seront présents !</h4>
    <div class="flex items-center justify-evenly">
        <% @exhibitor.entreprise.representatives.each do |representative| %>
            <% employee = Employee.find_by(id: representative.employee_id) %>
            <% entrepreneur = Entrepreneur.find_by(id: representative.entrepreneur_id) %>
            <div class="flex flex-col items-center">
                <% if employee && employee.user.avatar.attached? %>
                    <%= cl_image_tag employee.user.avatar.key, alt: "Avatar de #{employee.user.first_name}", class: "rounded-full object-cover object-center w-10 h-10 border shadow-md" %>
                <% else %>    
                    <%= image_tag("avatar.svg", class: "rounded-full w-10 h-10 bg-cover bg-center border shadow-md") %>
                <% end %>
                <h6><%= employee.user.first_name if employee %></h6>
                <h6><%= entrepreneur.user.first_name if entrepreneur %></h6>
            </div>
        <% end %>
    </div>
</div>
<div class="m-4">
    <h1 class="text-center font-semibold font-jost"><%= @exhibitor.entreprise.name %></h1>
    <p class="text-xs font-light"><%= @exhibitor.entreprise.description %></p>
    
</div>