<% content_for :header do %>
  <%= render 'profil_header' %>
<% end %>

<div class="pt-32 bg-TapCard-charcoal"></div>
<div class=" flex justify-center relative bottom-14">
    <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, alt: "Avatar to #{current_user.first_name}", class: "rounded-full object-cover object-center w-28 h-28 border shadow-md" %>
    <% else %>    
        <%= image_tag("avatar.svg", class: "rounded-full w-28 h-28 bg-cover bg-center border shadow-md") %>
    <% end %>
</div>
<div class="flex justify-center relative bottom-10">
    <div class="block justify-center">
        <h2 class="font-jost font-medium text-TapCard-silver text-center text-2xl mb-1"><%= current_user.full_name %></h2>
        <div class="flex items-center space-x-2 text-sm justify-center mb-1">
            <i class="fa-solid fa-phone text-TapCard-blue"></i>
            <span class=" font-light"><%= current_user.phone %></span>
        </div>
        <div class="flex items-center space-x-2 text-sm justify-center mb-1">
            <i class="fa-regular fa-envelope text-TapCard-blue"></i>
            <span class=" font-light"><%= current_user.email %></span>
        </div>
        <% if current_user.website.present? %>
            <div class="flex items-center space-x-2 text-sm justify-center">
                <i class="fa-solid fa-globe text-TapCard-blue"></i>            
                <span class=" font-light"><%= current_user.website %></span>
            </div>
        <% end %>
        <div class="flex justify-evenly items-center mt-1">
            <% if current_user.twitter.present? %>
                <a href="https://<%= current_user.twitter %>" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <% end %>
            <% if current_user.linkedin.present? %>
                <a href="https://<%= current_user.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin"></i></a>               
            <% end %>
            <% if current_user.facebook.present? %>
                <a href="https://<%= current_user.facebook %>" target="_blank"><i class="fa-brands fa-facebook"></i></a>                
            <% end %>
            <% if current_user.instagram.present? %>
                <a href="https://<%= current_user.instagram %>" target="_blank"><i class="fa-brands fa-instagram"></i></a>   
            <% end %>
        </div>
    </div>
</div>
<div class="flex justify-around items-center">
    <% if current_user.admin %>
        <div class="flex justify-center">
            <%= link_to "Dashboard Admin", rails_admin_path, class: "px-2 mb-4 text-xs  rounded outline outline-2 outline-green-500 text-green-500 font-semibold" %>
        </div>
    <% end %>
    <% if current_user.entrepreneurs? %>
        <div class="flex justify-center">
            <%= link_to "Dashboard Entreprise", dashboard_entreprise_path(@entreprise), class: "px-2 py-2 mb-4 text-xs  rounded outline outline-2 outline-green-500 text-green-500 font-semibold hover:bg-green-500 hover:text-TapCard-lightGray" %>
        </div>
    <% end %>
    <% if current_user.director? %>
        <div class="flex justify-center">
            <%= link_to "Dashboard Organization", rails_admin_path, class: "px-2 py-2 mb-4 text-xs  rounded outline outline-2 outline-green-500 text-green-500 font-semibold hover:bg-green-500 hover:text-TapCard-lightGray" %>
        </div>
    <% end %>


</div>
<div class="border-2 border-TapCard-yellow"></div>
<div class="m-3 pb-20">
    <h5 class=" text-TapCard-charcoal font-semibold"><%= current_user.job %></h5>
    <p class="text-TapCard-gray font-light text-sm"><%= User.industries[current_user.industry] %></p>
    <% if current_user.employee_relationships? %>
        <div class="inline">
            <%= link_to entreprise_path(@employee) do %>
                <h6 class="text-TapCard-teal inline-block"><%= @employee.name %></h6>
            <% end %>
        </div>
    <% elsif current_user.entrepreneurs? %>
        <div class="inline">
            <%= link_to entreprise_path(@entreprise) do %>
                <h6 class="text-TapCard-teal inline-block"><%= @entreprise.name %></h6>
            <% end %>
        </div>
    <% end %>
    <p class="text-TapCard-charcoal text-sm font-light"><%= current_user.biography %></p>
</div>



  
