<div class="w-full fixed">
    <div class="flex w-full justify-between items-center pt-8 pb-3 pr-3  bg-TapCard-charcoal">
    <%= link_to :back, class: "ml-2" do %>
            <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-5" %>
    <% end %>
    <div class="flex-1 text-center ml-2">
        <h2 class="mx-auto text-TapCard-lightGray uppercase font-semibold font-jost">Meet contacts</h2>
    </div>
    <%# Link à changer quand la chatroom sera mis en place %>
    <%= link_to user_path(current_user) do %>
        <%= image_tag "send.svg", alt: "avion", class: "w-5" %>
    <% end %>
    </div>
</div>
<div class=" pt-20"></div>
<div class="flex justify-center ">
    <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, alt: "Avatar to #{@user.first_name}", class: "rounded-full object-cover object-center w-20 h-20 border shadow-md" %>
    <% else %>    
        <%= image_tag("avatar.svg", class: "rounded-full w-20 h-20 bg-cover bg-center border shadow-md") %>
    <% end %>
</div>
<div class="flex justify-center">
    <div class="block justify-center">
        <h2 class="font-jost text-TapCard-silver text-center text-xl mb-1"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
        <div class="flex items-center space-x-2 text-xs justify-center mb-1">
            <i class="fa-solid fa-phone text-TapCard-blue"></i>
            <span class=" font-light select-none blur-sm"><%= @user.phone %></span>
        </div>
        <div class="flex items-center space-x-2 text-xs justify-center mb-1">
            <i class="fa-regular fa-envelope text-TapCard-blue"></i>
            <span class=" font-light select-none blur-sm"><%= @user.email %></span>
        </div>
        <% if @user.website.present? %>
            <div class="flex items-center space-x-2 text-xs justify-center">
                <i class="fa-solid fa-globe text-TapCard-blue"></i>            
                <span class=" font-light"><%= @user.website %></span>
            </div>
        <% end %>
        <div class="flex justify-evenly items-center mt-1">
            <% if @user.twitter.present? %>
                <a href="https://<%= current_user.twitter %>" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <% end %>
            <% if @user.linkedin.present? %>
                <a href="https://<%= current_user.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin"></i></a>               
            <% end %>
            <% if @user.facebook.present? %>
                <a href="https://<%= current_user.facebook %>" target="_blank"><i class="fa-brands fa-facebook"></i></a>                
            <% end %>
            <% if @user.instagram.present? %>
                <a href="https://<%= current_user.instagram %>" target="_blank"><i class="fa-brands fa-instagram"></i></a>   
            <% end %>
        </div>
    </div>
</div>
<div class="border border-TapCard-teal mt-3"></div>
<div class="m-3">
    <h5 class=" text-TapCard-charcoal font-semibold"><%= @user.job %></h5>
    <p class="text-TapCard-teal font-light text-sm"><%= @user.industry %></p>
    <p class="text-TapCard-charcoal text-sm font-light"><%= @user.biography %></p>
</div>

