<div class="w-64 pt-32 pl-10 fixed top-0 left-0 h-full bg-white shadow-lg">
    <div class="space-y-4">
        <h1 class="font-jost font-semibold text-TapCard-blue">Menu</h1>
        <ul class="space-y-4 font-light font-jost">
            <li class="flex icons-center space-x-2">
                <%= image_tag("overview_icon.svg", class: "w-5") %>
                <p>Overview</p>
            </li>
            <li class="flex icons-center space-x-2">
                <%= image_tag("company_s_page_icon.svg", class: "w-5") %>
                <p>Compagny's page</p>
            </li>
            <li class="flex icons-center space-x-2">
                <%= image_tag("enployees_icon.svg", class: "w-5") %>
                <p>Employees</p>
            </li>
            <li class="flex icons-center space-x-2">
                <%= image_tag("event_icon.svg", class: "w-5") %>
                <p>Events</p>
            </li>
            <li class="flex icons-center space-x-2">
                <%= image_tag("contact-received_icon.svg", class: "w-5") %>
                <p>Contact informations</p>
            </li>
        </ul>
    </div>
    <div class="space-y-4 font-light font-jost">
        <h1 class="font-jost font-semibold text-TapCard-blue mt-12">Support</h1>
        <ul class="space-y-4">
            <li class="flex icons-center space-x-2">
                <%= image_tag("settings_icon.svg", class: "w-5") %>
                <p>Settings</p>
            </li>
            <li class="flex icons-center space-x-2">
                <%= image_tag("legal_informations_icon.svg", class: "w-5") %>
                <p>Legal informations</p>
            </li>
        </ul>
    </div>
</div>
