<% content_for :header do %>
  <%= render 'exposant_header' %>
<% end %>

<div class=" pt-28"></div>
<% @exhibitors.each do |exhibitor| %>
    <div class="border-b border-TapCard-lightGray relative">
        <%= link_to exhibitor_path(exhibitor) do %>
            <div class="flex items-center justify-between px-3 py-6">
                <div class="flex items-center space-x-4">
                    <% if exhibitor.entreprise.logo.attached? %>
                        <%= cl_image_tag exhibitor.entreprise.logo.key, alt: "Logo entreprise #{exhibitor.entreprise.name}", class: "rounder object-cover object-center w-10 h-10" %>
                    <% else %>
                        <%= image_tag("bag-entreprise.svg", class: "rounder object-cover object-center w-10 h-10") %>
                    <% end %>
                    <h1 class="font-medium font-jost text-sm"><%= exhibitor.entreprise.name %></h1>
                </div>
                <div class="flex space-x-2">
                    <% exhibitor.entreprise.representatives.each do |representative| %>
                        <% employee = Employee.find_by(id: representative.employee_id) %>
                        <% entrepreneur = Entrepreneur.find_by(id: representative.entrepreneur_id) %>
                        <div class="flex flex-col items-center">
                            <% if employee && employee.user.avatar.attached? %>
                                <%= cl_image_tag employee.user.avatar.key, alt: "Avatar de #{employee.user.first_name}", class: "rounded-full object-cover object-center w-5 h-5 border shadow-md" %>
                            <% else %>    
                                <%= image_tag("avatar.svg", class: "rounded-full w-5 h-5 bg-cover bg-center border shadow-md") %>
                            <% end %>
                        </div>
                    <% end %>

                </div>
            </div>
            <p class="absolute right-0 top-0 py-1 pl-6 pr-1 rounded-bl-full text-[12px] bg-TapCard-blue text-TapCard-lightGray font-semibold">Stand 04.09</p>
        <% end %>
    </div>
<% end %>