<div class="w-full fixed">
    <div class="flex w-full justify-between items-center pt-8 pb-3 pr-3  bg-TapCard-charcoal">
    <%= link_to event_path(@event), class: "ml-2" do %>
            <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-5" %>
    <% end %>
    <div class="flex-1 text-center ml-2">
        <h2 class="mx-auto text-TapCard-lightGray uppercase font-semibold font-jost">Meet contacts</h2>
    </div>
    <%= link_to chatrooms_path(current_user) do %>
        <%= image_tag "envelope-regular.svg", alt: "envelope", class: "w-5" %>
    <% end %>
    </div>
    <div class="flex justify-around bg-white px-4 py-3">
        <%= link_to exposant_event_path(@event) do %>
            <h6 class="text-xs font-semibold font-jost">Exhibitors</h6>
        <% end %>
        <%= link_to visitor_event_path(@event) do %>
            <h6 class="text-xs font-semibold font-jost relative after:block after:h-0.5 after:w-1/2 after:absolute after:-bottom-1 after:left-1/4 after:origin-bottom-left after:transform after:ease-in-out after:duration-200 after:bg-TapCard-yellow">Professional Visitors</h6>
        <% end %>
    </div>
</div>
<div class=" pt-28"></div>
<% if @visible_participations.present? %>
    <% @visible_participations.each do |participation| %>
        <%= link_to user_path(participation.user) do %>
            <div class="flex justify-between items-center border-b border-TapCard-silver p-4">
                <div class=" leading-5">
                    <h1 class="mb-1"><%= participation.user.first_name %> <%= participation.user.last_name %></h1>
                    <p class=" text-TapCard-silver text-sm font-medium"><%= participation.user.job %></p>
                    <p class="text-TapCard-teal text-xs capitalize"><%= participation.user.industry %></p>
                </div>
                <div>
                    <% if participation.user.avatar.attached? %>
                        <%= cl_image_tag participation.user.avatar.key, alt: "Avatar to #{participation.user.first_name}", class: "rounded-full object-cover object-center w-12 h-12 border shadow-md" %>
                    <% else %>    
                        <%= image_tag("avatar.svg", class: "rounded-full w-12 h-12 bg-cover bg-center border shadow-md") %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
<% else %>
    <p class="mx-2">No visible participants for this event.</p>
<% end %>