<!DOCTYPE html>
<html>
  <head>
    <title>MyDigiCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "tailwind", "application", "data-turbo-track": "reload", as: "style" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= user_profile_background_class %> flex flex-col min-h-screen"> 
    <main class="pb-12 md:pb-0 overflow-y-auto bg-white flex-1">
      <%= yield %>
    </main>
    <%= render "shared/flashes" %>
    <%= render "shared/footer" %>
  </body>
</html>
